{% extends "base.html" %}

{% block content %}
{% load static %}

<h1>List of Characters</h1>
<table class="character-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Series</th>
            <th>Image</th>
            <th>Download</th> <!-- Add a new column for the download button -->
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for character_dict in character_list %}
            {% for character_name, character_attributes in character_dict.items %}
                <tr>
                    <td>{{ character_attributes.name }}</td>
                    <td>{{ character_attributes.height }}</td>
                    <td>{{ character_attributes.weight }}</td>
                    <td>{{ character_attributes.series }}</td>
                    <td><img src="{% static character_attributes.image %}" alt="Character Image"></td>
                    <td>
                        <a href="{% static character_attributes.image %}" download>
                            <button>Download</button>
                        </a>
                    </td>
                    <td>
                        <form action="{% url 'Characters:character_info' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="item_to_delete" value="{{ character_name }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'Characters:character_info' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="data" value="{{ character_name }}">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}