{% extends "base.html" %}

{% block content %}
    <h1>List of Characters</h1>
    <ul>
        {% for character_dict in character_list %}
            {% for character_name, character_attributes in character_dict.items %}
                <li>
                    <p><strong>Name:</strong> {{ character_attributes.name }}</p>
                    <p><strong>Height:</strong> {{ character_attributes.height }}</p>
                    <p><strong>Weight:</strong> {{ character_attributes.weight }}</p>
                    <p><strong>Series:</strong> {{ character_attributes.series }}</p>
                    <img src="{{ character_attributes.image }}" alt="{{ character_name }}">
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock content %}
