{% extends "base.html" %}

{% block content %}
   {% comment %} <form >
       <label for="class_text">Grade:</label><br>
       <input type="text" id="class_grade" name="class_grade"><br>
       <label for="hschool_name">High School Name:</label><br>
       <input type="text" id="high_school_name" name="high_school_name"><br>
   </form> {% endcomment %}

   <form action=""  method="post">
    {% csrf_token %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="character_text">Character Name:</label><br>
        <input type="text" id="character_name" name="character_name"><br>
        <label for="series_text">Character Series:</label><br>
        <input type="text" id="character_series" name="character_series"><br>
        <input type="submit" value="Submit">
        </form>
{% endblock content %}

