{% extends "base.html" %}
{% load static %}
{% block content %}
   <form action=""  method="post">
    {% csrf_token %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="character_text">Character Name:</label><br><br>
        <input type="text" id="character_name" name="character_name"><br><br>
        <label for="series_text">Character Series:</label><br>
        <input type="text" id="character_series" name="character_series"><br>
        <input type="submit" value="Submit">
        </form>
{% endblock content %}


 