{% extends "base.html" %}

{% block content %}
   <form action="" method="post">
       {% csrf_token %}
       <label for="action">Action:</label>
       <select name="action" required>
           <option value="edit">Edit</option>
           <option value="delete">Delete</option>
       </select>
       <br>
       {{ character_form.Characters.label_tag }}
       {{ character_form.Characters }}
       <br>
       {{ character_form.name.label_tag }}
       {{ character_form.name }}
       <br>
       {{ character_form.height.label_tag }}
       {{ character_form.height }}
       <br>
       {{ character_form.weight.label_tag }}
       {{ character_form.weight }}
       <br>
       {{ character_form.series.label_tag }}
       {{ character_form.series }}
       <br>
       <input type="submit" value="Submit">
   </form>
{% endblock content %}
