{% load static %}
<head>
   <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
{% block content %}
<div id="navigation">
    <div id="nav_div">
         <a href="search">Search<br></a>
         <a href="nondjangoforms">Non-Django Form<br></a>
         <a href="djangoforms">Django Form <br></a>
         <a href="character_info">Character Info<br></a>
    </div>
 </div>
 <br><br><br><br>
<form action="" method="post">
    {% csrf_token %}
    <label for="action">Action:</label>
    <select name="action" required>
        <option value="edit">Edit</option>
        <option value="create">Create</option>
    </select>
    <br>
    <label for="Characters">Characters:</label>
    <select name="Characters" required>
        {% for character_dict in character_list %}
            {% for character_name, character_data in character_dict.items %}
                <option value="{{ character_name }}">{{ character_name }}</option>
            {% endfor %}
        {% endfor %}
    </select>
    <br>
    <label for="name">Name:</label>
    <input type="text" name="name" required>
    <br>
    <label for="height">Height:</label>
    <input type="text" name="height" required>
    <br>
    <label for="weight">Weight:</label>
    <input type="text" name="weight" required>
    <br>
    <label for="series">Series:</label>
    <input type="text" name="series" required>
    <br>
    <input type="submit" value="Submit">
</form>
{% endblock content %}