{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Character</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div id="navigation">
        <div id="nav_div">
             <a href="search">Search<br></a>
             <a href="nondjangoforms">Non-Django Form<br></a>
             <a href="djangoforms">Django Form <br></a>
             <a href="character_info">Character Info<br></a>
        </div>
     </div>
     <br><br><br><br>
    <h1>Search Character</h1>

    <form method="post" action="{% url 'Characters:search' %}">
        {% csrf_token %}
        <label for="character-name">Enter Character Name:</label>
        <input type="text" id="character-name" name="selected_character" required>
        <button type="submit">Search</button>
    </form>
</body>

</html>
