
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Character</title>
</head>

<body>
    <h1>Search Character</h1>

    <form method="post" action="{% url 'Characters:search' %}">
        {% csrf_token %}
        <label for="character-name">Enter Character Name:</label>
        <input type="text" id="character-name" name="selected_character" required>
        <button type="submit">Search</button>
    </form>
</body>

</html>
