{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searched Character Information</title>
   <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <h1>Character Information</h1>
    {% load static %}
    <div id="navigation">
        <div id="nav_div">
            <a href="search" class="{% if request.resolver_match.url_name == 'search' %}active{% endif %}">Search<br></a>
            <a href="nondjangoforms" class="{% if request.resolver_match.url_name == 'nondjangoforms' %}active{% endif %}">Non-Django Form<br></a>
            <a href="djangoforms" class="{% if request.resolver_match.url_name == 'djangoforms' %}active{% endif %}">Django Form <br></a>
            <a href="character_info" class="{% if request.resolver_match.url_name == 'character_info' %}active{% endif %}">Character Info<br></a>
        </div>
     </div>
     <br>

    {% if selected_characters %}
    {%for selected_character in selected_characters%}
    <h2>Name: {{ selected_character.name }}</h2>
    <p>Height: {{ selected_character.height }}</p>
    <p>Weight: {{ selected_character.weight }}</p>
    <p>Series: {{ selected_character.series }}</p>
    <!-- Add more character attributes here as needed -->
    <img src="{% static selected_character.image%}" alt = "my image"> </img>
    {%endfor%}
    {% else %}
    <p>No information available for the selected character.</p>
    {% endif %}
    <br>
    <a href="{% url 'Characters:search' %}">Search Again</a>
</body>

</html>
