{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Character</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div id="navigation">
        <div id="nav_div">
            <a href="search" class="{% if request.resolver_match.url_name == 'search' %}active{% endif %}">Search<br></a>
            <a href="nondjangoforms" class="{% if request.resolver_match.url_name == 'nondjangoforms' %}active{% endif %}">Non-Django Form<br></a>
            <a href="djangoforms" class="{% if request.resolver_match.url_name == 'djangoforms' %}active{% endif %}">Django Form <br></a>
            <a href="character_info" class="{% if request.resolver_match.url_name == 'character_info' %}active{% endif %}">Character Info<br></a>
        </div>
     </div>
     <br><br><br><br>
    <h1>Search Character</h1>

    <form method="post" action="{% url 'Characters:search' %}">
        {% csrf_token %}
        <label for="character-name">Enter Character Name:</label>
        <input type="text" id="character-name" name="selected_character" required>
        <button type="submit">Search</button>
    </form>
</body>

</html>
