{% load static %}

<!DOCTYPE html>
<html>

<head>
   {% block head %}
   {% endblock head %}
   <link rel="stylesheet" href="{% static 'main.css' %}">

</head>

<body>
   <div id="navigation">
      <div id="nav_div">
         <a href="search" class="{% if request.resolver_match.url_name == 'search' %}active{% endif %}">Search<br></a>
         <a href="nondjangoforms" class="{% if request.resolver_match.url_name == 'nondjangoforms' %}active{% endif %}">Non-Django Form<br></a>
         <a href="djangoforms" class="{% if request.resolver_match.url_name == 'djangoforms' %}active{% endif %}">Django Form <br></a>
         <a href="character_info" class="{% if request.resolver_match.url_name == 'character_info' %}active{% endif %}">Character Info<br></a>
      </div>
   </div>
   <br>
   <div class="header_title">Characters App</div><br/><br/>
     {% if messages %}
     <div>
        <ul class="messages">
           {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
           {% endfor %}
       </ul>
    </div>
   {% endif %}
{% block content %}
{% endblock content %}
</body>


<script>
   {% block js %}
   {% endblock js %}
</script>
</html>

