{% load static %}

<!DOCTYPE html>
<html>

<head>
   {% block head %}
   {% endblock head %}
   <link rel="stylesheet" href="{% static 'main.css' %}">

</head>

<body>
   <div id="navigation">
      <div id="nav_div">
           <a href="nondjangoforms">Non-Django Form<br></a>
           <a href="djangoforms">Django Form <br></a>
           <a href="character_info">Character Info<br></a>
      </div>
   </div>
   <br/>
   <div class="header_title">Characters App</div><br/><br/>
     {% if messages %}
     <div>
        <ul class="messages">
           {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
           {% endfor %}
       </ul>
    </div>
   {% endif %}
   <br>
{% block content %}
{% endblock content %}
</body>


<script>
   {% block js %}
   {% endblock js %}
</script>
</html>

