html, body{
    padding: 0;
    margin: 0;
  }
  html{
    height: 100%;
  }
  body{
    min-height: 100%;
    background-image:linear-gradient(#2E3192, #1BFFFF);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  img{
    width:100px;
    height:100px;
  }

.header_title{
  display:flex;
  justify-content: center;
}
.class{
  margin-left:10px;
}


a{
  text-decoration: none;
  color: white;
}

#nav_div{
  border-style: groove;
  border-color:black;
  display:flex;
  text-decoration: none;
  color:white;
  padding:10px;
  font-weight: bold;
  background-color:black;
  width: 100%;
  justify-content: space-around;
  font-size: 24px;
  position: fixed;
top: 0;
width: 100%
}
.active {
  color: yellow;
}
form{
  display:flex;
  justify-content:start;
}
table{
    text-align: center;
}
